* {
    padding: 0px;
    margin: 0px;
    font-family:'Poppins', sans-serif;
  
  }
  ::-webkit-scrollbar{
         width: 0px; 
  }

.header{
    background-color: black;
    color: white;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.header h2{
    font-size: 30px;
    margin-left: 80px;
    font-weight: 600;
}
.link-button{
     padding: 20px;
}
.link-button button{
      padding: 10px;
      border-radius: 10px;
      font-size:16px;
      font-weight: 600;
      color: white;
      background-color: rgb(30, 30, 30);
      cursor: pointer;
} 
.content{
    text-align: center;
}
.content h1{
    font-size: 90px;
    font-weight: 900;
    animation: mytext 10s alternate-reverse;
}
@keyframes mytext{
    0%{
        color: #ff9d00;
    }
    10%{
        color: rgb(117, 117, 117);

    }
    30%{
       color: rgb(1, 145, 97);
    }
    50%{
      color: rgb(129, 81, 22);
    }
    70%{
      color: #333;
    }
    100%{
        color:crimson ;
    }

}
.para p{
    font-size: 21px;
    font-weight: 900;
    text-align: start;
    margin-top: 20px;
}
.video{
    background-image: url(../img/large-thumbnail20220525-28029-kv0995.gif);
    width: 100%;
    height: 70vh;
    margin-top: 30px;
}




.last h1 {
    text-align: center;
    font-size: 90px;
    font-weight: 900;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    top: 150px;
    
  }
  .last{
      background-color: #000000;     
      height: 50vh;
      
}
footer{
  background-color: #000000;
  color: white;
  
}
.connect{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
 
}
.connect i:hover{
         color: rgb(80, 80, 80);
         transform: scale(1.1);
         transition: 0.5s;
}
footer i{
  font-size: 30px;
  display: flex;
  flex-direction: row;
  
}
.footer{
  display:flex;
  flex-direction:column;
  text-align: center;
  background-color: black;
  color:white;
}
.link{
  display: flex;
  flex-direction: column;
  text-align: start;
  
}
.link a{
   padding: 8px;
   color: white;
}

.footer a:hover{
  color: #ff9d00;
}
.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.link2 p{
  padding: 8px;
}
.link2 p:hover{
     transform: scale(1.1);
     cursor: pointer;

}
.link1 p{
  padding: 2px;
}
