#licenseFeat{

flex-direction: row;
display: flex;
gap: 60px;
background-color: #595959;
padding: 100px;
border-radius: 30px;
}

#licenseFeat i{
  color: rgb(0, 0, 0);
}


/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(18, 18, 18, 0.4);
  z-index: 2;
  color: rgb(0, 0, 0);
  border-radius: 20px;
}

/* Modal Content/Box */
.modal-message {
  background-color: #ffffff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* Close Button */
#modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#modal-close:hover,
#modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Text */
#modal-message-text {
  font-size: 24px;
  margin: 0;
}

::-webkit-scrollbar{
  display: none;
}
body{
    background-color: #000000;
    

}
.title{
    text-align: center;
    color: #8c6969;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;

}
.trackimage{
    width: 110px;
}
.trackimage:hover{
    transform: scale(1.02)

}
.item h2{
    color: #ffffff;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    width: min-content;


}
.item p{
  color: white;
  display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 19px;
    text-align: left;
    background-color:rgba(30, 30, 30, 0.63);
    padding: 10px;
    border-radius: 10px;
    overflow-wrap: anywhere;
    height: 100px;
    overflow-y: auto;

}
.container{
    width: 300px;
    overflow-y: auto;
}
.item{
    display: flex;
    justify-content:space-between;
   align-items: center;
    flex-direction: row;
    margin-top: 50px;
    background-color: rgba(30, 30, 30, 0.63);
    padding: 30px;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 20px;

}
.pricetag{
  background-color: rgb(54 54 54);
  color: white;
  font-weight: 500;
  font-size: larger;
  border-radius: 10px;
  width: 5%;
  text-align: center;
  
  
  
}
.remove{
  background-color: rgb(120, 0, 0);
  color: black;
  font-weight: 600;
  font-size: larger;
  
  width: 10%;
  text-align: center;
  border-radius: 10px;
  
}

.below{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    justify-content: space-around;
}
.section {
    position: relative;
    top: 70px;
    margin-left: 40px;
    width: 95%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 20px;
  }
  .section:hover{
    transform:scale(1.01);
    transition: 0.5s;

  }
  
  .section h1 {
    text-align: center;
    font-size: 6rem;
    padding: 20px;
    margin: 15px;
    z-index: 1;
    color: rgba(251, 244, 192, 0.877);
    width: 100%;
  }
  
  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

  }


  .color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: lightblue;
    opacity: 0.1;
    
  }
  .card-number{
       background-color:#E5B8F4;
       width: 100%;
       padding: 7px;
       text-align: start;
       align-items: center;
       border-radius: 10px;
       cursor: pointer white ;
  }
  .btn{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
  }
  input::placeholder{
            align-items: center;
            display: flex;
            flex-direction: column;   
  }
  .btn1{
            background-color: rgba(44, 44, 44, 0.861);
            color: white;
            padding: 2px;
            border-radius: 10px;
            border: none;
            width: 50%;
            text-align: center;
            font-weight: 600;
            position: relative;
            left: 80px;
            top: 30px;
            
            
  }

  .btn1:hover{
    background-color: #ffffff;
    border-radius: 10px;
    color: #000000;
  }
  .logo1{
    width: 60px;
    height: 60px;
    position: relative;
    top: 130px;
    right:40px
  }
  .rightside img{
      padding: 7px;
  }

  /* Styling for the payment pop-up */
#payment-popup {
 
  display: none; /* Hide the pop-up initially */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 25%;
  padding: 30px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Position the payment content box in the center */
.payment-content {
  background-color: #fefefe;
  margin: auto;
  border-radius: 20px;

  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  text-align: center;
  gap: 50px;
}

.payment-content input {
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  font-size: 16px;
  height: 25px;
}

input[type="password"] {
  -webkit-text-security: disc;
}

/* Style for the submit and cancel buttons */
.btn2, .btn3 {
  text-align: start;
  padding: 5px 20px;
  width: auto;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
}

.btn2 {
  background-color: #007bff;
  color: #fff;
}

.btn3 {
  background-color: #6c757d;
  color: #fff;
  margin-left: 10px;
}

.btn2:hover, .btn3:hover {
  opacity: 0.8;
}
.buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#paymentSuccess {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 30px auto;
  max-width: 500px;
  display: none;

}

#paymentSuccess h1 {
  color: #007bff;
}

#paymentSuccess p {
  margin: 10px 0;
}

#paymentSuccess .btn2 {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.labelContainer {
  width: 25%;
}

.fieldContainer{
  width: 55%;
}