* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
  }
    form {
      background-color: #ffffff;
      width: 500px;
      height: 44px;
      border-radius: 30px;
      display:flex;
      flex-direction:row;
      align-items:center;
      margin-top: 50px;
      margin-left: 300px;
    }
  
    input {
      all: unset;
      font: 16px system-ui;
      color: rgb(0, 0, 0);
      height: 100%;
      width: 100%;
      padding: 6px 10px;
    }
  
    ::placeholder {
      color: rgb(0, 0, 0);
      opacity: 0.7; 
    }
  
    svg {
      color: rgb(0, 0, 0);
      fill: currentColor;
      width: 24px;
      height: 24px;
      padding: 10px;
    }
  
    button {
      all: unset;
      cursor: pointer;
      width: 44px;
      height: 44px;
    }
  .header{
      display: flex;
      flex-direction: row;
      background-color: #000000;
      margin-left: 0px;
      border-bottom: 1px solid wheat; 
  }
  .header h2{
    margin-top: 60px;
    position: relative;
    left: 100px;
    cursor: pointer;   
  }
  .logo{
      width: 150px;
      
  }
  .dropdown {
    position: relative;
    display: inline-block;
    top:65px;
    left:60px;


}
  
.dropdown-content a{
    text-decoration: none;
    color: black;
    padding-bottom: 20px;
}
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.952);
    padding: 18px 26px;
    z-index: 1;
    width: 200px;

  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .carticon{
    width: 50px;
    height: 50px;
    margin-top: 47px;
    margin-left: 50px;
    cursor: pointer;
}
.profile{
    width:50px;
    height: 50px;
    margin-top: 47px;
    margin-left: 290px;
    cursor: pointer;
    
}
body{
  background-color: #000000;
  

}
.btn{
  background-color: #ffffff;
  color: #000000;
  margin-top: 80px;
}

.leftside h2{ 
  text-align: center;
  width: 150%;

  
}
.leftside {
margin-right: 50px;
border-right: 5px inset rgb(61, 61, 61);
margin-left: 0px;



}
.leftside:hover{
color: #000000;

}
.content{
  display: flex;
  margin-left: 50px;
  flex-direction:row;
  justify-content:space-between;
  margin-top: 20px;

}
.rightside{
  margin-right: 300px;
  text-align: center;
  position: relative;
  left: 60px;
}
.rightside h3{
color: rgb(52, 155, 0);

}
.rightside p{
color: white;
}
.secondright{
color:white;
position: relative;
right: 160px; 
margin-top: 13px;
outline: none;
border-radius: 30px;
background-color: #3e005f;
text-align: center;
padding-left: 50px;
padding-right: 50px;
}
.secondright h2{
  font-weight: 600;
  color: white;
}
.border{
    width:200px;
    height: 100px;
    margin-top: 5px; 
}
.border p{
font-size: 20px;
width: 200px;
font-weight: 600;
}
.border p:hover{
color: #24bb02;
}
.productlist img{
width:160px;
padding: 20px;
border-radius: 20%;
height:160px ;

}
.productlist img:hover{
transform: scale(1.1);
color: white;
}

.productlist{
display: flex;
flex-direction:row;
position: relative;
left:10px;
padding-top: 20px;  
}

.card1 img{
  width: 65px;
  border-radius: 50%; 
}
.card1 img:hover{
transform: scale(1.6);
transition: 0.6s;
}
.card2 img{
width: 40px;
border-radius: 50%; 
padding-top: 15px;
}
.card2 img:hover{
transform: scale(1.5);
transition: 0.5s;
}
.card1 p{
  color: #ffffff;
  position: relative;
}
.card1{
  display: flex;
  flex-direction: row;
  padding: 10px;
  padding-top: 40px;

}
.text{
margin-left:15px;
margin-top: 10px;  
}
.text:hover{
text-decoration: underline;
color:#ffffff;

  }
.text h3,p{
width: 100px;
}
.box1{
  padding-right:80px;
 
}
.card1 a:hover{
  background-color:#ffffff;
} 
.title{
  text-align: center;

}
.title img{
  width:30px;
  border-radius: 50%;
  position: relative;
  top: 7px;
}
.title h2{
  text-align: center;
  position: relative;
  left: 200px;
}
.title1{
  font-size: 15px;
  width: 100%;

}

.productlist p{
  color: #ffffff;
  position: relative;
  left: 30px;
}
  @import url(//db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book);
  
  
  
  body {
      margin: 0;
      padding: 0;
      background-color: rgb(0, 0, 0);
      font-size: 14px;
  }
  
  .music-player {
      --primary-color: #ddd;
      --secondary-color: white;
      --green-color: #2d5;
      --padding: 1em;
      background-color: rgb(0, 0, 0) ;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
  
      height: 7rem;
      padding: var(--padding);
      color: var(--primary-color);
      margin-top: 10px;

  }
  i{
      color: var(--secondary-color);
  }
  i:hover{
      color: var(--primary-color);
  }
  .song-bar {
      position: absolute;
      left: var(--padding);
  
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 1.5rem;
      width: 25%;
  }
  
  .song-infos {
      display: flex;
      align-items: center;
      gap: 1em;
  }
  .image-container {
      --size: 4.5em;
      flex-shrink: 0;
      width: var(--size);
      height: var(--size);
  }
  .image-container img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  .song-description p {
      margin: 0.2em;
  }
  .title,
  .artist {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
      width: 100%;
  }
  .title:hover,
  .artist:hover {
      text-decoration: underline;
  }
  .artist{
      color: var(--secondary-color);
  }
  .icons{
      display: flex;
      gap: 1em;
  }
  .progress-controller{
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 1.5em;
      color: var(--secondary-color);
  }
  .control-buttons{
      display: flex;
      align-items: center;
      gap: 2em;
  }
  .play-pause{
      display: inline-block;
      padding: 1em;
      background-color: var(--primary-color);
      color: #111;
      border-radius: 50%;
  }
  .play-pause:hover{
      transform: scale(1.1);
      color: #111;
  }
  .progress-container{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1em;
  }
  .progress-bar{
      height: 4px;
      border-radius: 10px;
      width: 30%;
      background-color: #ccc4;
  }
  .progress{
      position: relative;
      height: 100%;
      width: 30%;
      border-radius: 10px;
      background-color: var(--secondary-color);
  }
  .progress-bar:hover .progress{
      background-color: var(--green-color);
  }
  .progress-bar:hover .progress::after{
      content: "";
      position: absolute;
      --size: 1em;
      width: var(--size);
      height: var(--size);
      right: 0;
      border-radius: 50%;
      background-color: var(--primary-color);
      transform: translate(50%, calc(2px - 50%));
  }
  .other-features{
      position: absolute;
      right: var(--padding);
      display: flex;
      flex-direction: row;
      gap: 1em;
  }
  .volume-bar{
      display: flex;
      align-items: center;
      gap: .7em;
  }
  .volume-bar .progress-bar{
      width: 6em;
  }
  .volume-bar .progress-bar:hover .progress::after{
      --size: .8em;
  }
  
  