* {
    padding: 0px;
    margin: 0px;
    font-family:'Poppins', sans-serif;
  
  }
  ::-webkit-scrollbar{
         width: 0px; 
  }

.header{
    background-color: black;
    color: white;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.header h2{
    font-size: 30px;
    margin-left: 80px;
    font-weight: 600;
}
.link-button{
     padding: 20px;
}
.link-button button{
      padding: 10px;
      border-radius: 10px;
      font-size:16px;
      font-weight: 600;
      color: white;
      background-color: rgb(30, 30, 30);
      cursor: pointer;
} 
.front{
    background-image: url(../img/original-57ded05363339c9808600310f2199ba7.gif);
    height:100vh;
    width:100vw;
    color: white;
    text-align: center;

}
.front h1{
      font-size: 95px;
      font-weight: 900;
      text-transform: uppercase;     
}
.text{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 190px;
    -webkit-text-fill-color: rgb(255, 255, 222);
}
.front h2{
    font-weight: 600;
    font-size: 25px;  
}
.feat{
    text-align: center;
    margin-top: 40px;
}
.feat h1{
        font-size: 70px;
}

.card img{
    width: 120px;
    height: 120px;
}
.feat1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 80px;
}
.card h2{
    font-weight:900;
}
.card {
    width: 20%;
    padding: 10px;
}
.card p{
    margin-top: 10px;
    font-weight: 600;
}
.card h2{
    margin-top: 15px;
}
.card:hover{
    transform: scale(1.05);
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 30px;
}
.sub{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-left: 120px;
    margin-right: 120px;
    margin-top:50px;

}
.free{
    box-shadow: 0 4px 8px 0 rgba(87, 87, 87, 0.879);
    margin-right: 20px;
    width: 50%;
    height: 70vh;
    background-color: #01afff;
    color: black;
    border-radius: 20px;
   
}
.btn button{
    background-color:#f4ba74;
    border-radius: 5px;
    border: none;
    padding: 10px; 
    font-size: 18px; 
    position: relative;
    bottom: 6px;    
  }
  .btn1 button{
    background-color:#78d7fa;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 18px;     
  }
  
  .btn button:hover,.btn1 button:hover{
    transform: scale(1.1);
    background-color:#796f68 ;
  }
  
  .pro{
      box-shadow: 0 4px 8px 0 rgba(129, 129, 129, 0.945);
      width: 50%;
      background-color: #ffa318;
      color: black;
      border-radius: 20px;
     
  }
  .free:hover{
      background-color: #0573a5 ;
      transform: scale(1.02);
      transition: 0.5s;
  }
  .pro:hover{
    background-color:#9e5f00;
    transform: scale(1.02);
    transition: 0.5s;
  }
  .price{
        font-weight: 900;
        font-size: 25px;
        margin-top: 10px;
      
  
  }
  .free p{
    margin-top: 5px;
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    text-align: center;  
  }
  .free h2{
          font-size: 44px;
          font-weight: 600;
  }
  .pro h2{
    font-size: 44px;
    font-weight: 600;
}
  .pro p{
    margin-top: 5px;
    width: 100%;
    font-weight: 600;
    text-align: center;
    
  }
  .features i{
    color: rgb(0, 102, 0);
    padding: 5px;
    font-size: 20px;
  }
  .features{
    margin-left: 55px;
    margin-top: 20px;
    width: 60%;
    height: 30vh;
    font-size: 20px;
    font-weight: 800;
    background-color: #dbdcddb8;
    border-radius: 20px;
    padding: 70px;
  }
  .features:hover{
    transform: scale(1.05);
    transition: 0.5s;
  }
  .features ul{
    list-style: none;
    
  }
  .features li:hover{
           color: rgb(253, 252, 252);
  }
  .features li{
    padding: 5px;
    float: left;
    line-height: 45px;
    position: relative;
    bottom: 40px;
    
    
  }
  .plan{
    text-align: center;
    margin-top: 100px;
  }  
  .plan h1{
    font-size: 50px;
    font-weight: 900;
  }
.last1{
    width:100vw;
    height: 50vh;
    margin-top: 50px;
    text-align: center;
    
}
.last1 {
  width:100%;
  height:100%;
  animation: myanimation 10s infinite;
  animation-direction: alternate-reverse ;
}
@keyframes myanimation {
  0% {background-color: rgb(184, 0, 0);}
  25%{background-color:rgb(183, 183, 2);}
  50%{background-color:green;}
  75%{background-color:rgb(131, 0, 0);}
  100% {background-color: rgb(0, 0, 0);}
}

.last1 p{
  font-size: 300px;
  mix-blend-mode: screen;
  position: relative;
  color: #ffffff84;
  font-weight: 900;
  animation: mytext 10s infinite;
  animation-direction: alternate ; 
}

@keyframes mytext {

  0%{color: #000000;}
  25%{color:rgb(185, 185, 185);}
  50%{color:rgb(0, 0, 0);}
  75%{color:rgb(255, 0, 208);}
  100% {color: rgb(255, 255, 255);}

}


.last h1 {
    text-align: center;
    font-size: 90px;
    font-weight: 900;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    top: 150px;
    
  }
  .last{
      background-color: #000000;
      
      height: 50vh;
      
}
footer{
  background-color: #000000;
  color: white;
  
}
.connect{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
 
}
.connect i:hover{
         color: rgb(80, 80, 80);
         transform: scale(1.1);
         transition: 0.5s;
}
footer i{
  font-size: 30px;
  display: flex;
  flex-direction: row;
  
}
.footer{
  display:flex;
  flex-direction:column;
  text-align: center;
  background-color: black;
  color:white;
}
.link{
  display: flex;
  flex-direction: column;
  text-align: start;
  
}
.link a{
   padding: 8px;
   color: white;
}

.footer a:hover{
  color: #ff9d00;
}
.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.link2 p{
  padding: 8px;
}
.link2 p:hover{
     transform: scale(1.1);
     cursor: pointer;

}
.link1 p{
  padding: 2px;
}

@media (max-width:393) {
  
}