
body {
    
    background-color: black;
    font-family:'Poppins', sans-serif;
  
} 
.container{
    background-color: white;
    width: 50%;
    border-radius: 10px;
    padding: 30px;
}
.container h1{
    text-align: center;
    font-weight:800;
    font-size: 40px;
} 

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 100px; 
    
  
}
.emial-name,.dob-pass{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   margin-top: 30px;
   
}
.input {
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
  }
  
  .input:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
               -13px -13px 100px #ffffff;
  }

   input:focus{
    outline: none;
    border: 2.5px solid rgb(255, 23, 23);
  }
  input:valid{
      border:2px solid green;
  }
  .tc-notify{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 25px;
  }
  .container1{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .container1 input {
    
    opacity: 1;
    -webkit-appearance: none;
    cursor: pointer;
    height: 30px;
    width: 30px;
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(0,0,70,0.12);
    border-radius: 50%;
    border: 8px solid #ececec;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
  }

  .container1 input::after {
    transition: .5s;
    font-family: monospace;
    content: '';
    color: #7a7a7a;
    font-size: 25px;
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid #7a7a7a;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
  }
  
  .container1 input:checked {
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(70,70,70,0.12),
    inset -10px -10px 15px rgba(255,255,255,0.5),
    inset 10px 10px 15px rgba(70,70,70,0.12);
    transition: .5s;
  }
  
  .container1 input:checked::after {
    transition: .5s;
    border: solid #15e38a;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
  }
  .select2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
  }
  .rainbow-hover {
    font-size: 16px;
    font-weight: 700;
    color: #ff7576;
    background-color: #2B3044;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 24px;
    position: relative;
    line-height: 24px;
    border-radius: 9px;
    box-shadow: 0px 1px 2px #2B3044,
      0px 4px 16px #2B3044;
    transform-style: preserve-3d;
    transform: scale(var(--s, 1)) perspective(600px)
      rotateX(var(--rx, 0deg)) rotateY(var(--ry, 0deg));
    perspective: 600px;
    transition: transform 0.1s;
  }
  
  .sp {
    background: linear-gradient(
        90deg,
        #866ee7,
        #ea60da,
        #ed8f57,
        #fbd41d,
        #2cca91
      );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    display: block;
  }
  
  .rainbow-hover:active {
    transition: 0.3s;
    transform: scale(0.93);
  }




  

