
 ::-webkit-scrollbar{
      display: none;
  }
  body{
      background-color: #000000;
  }
.card h2{
        color: white;
        font-size: 20px; 
        width: 100%;
        padding: 7px;
        text-align: center;         
}
#logo1{
    width: 358px;
}
#logo1:hover{
    transform: scale(1.05);
    border-radius: 20px;
}
.content{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    flex-direction: row;
    height: 500px;

}
.card p{
    color: #ffffff;
    font-size: 15px;
    width: 100%;
    text-align: center;   
}
.rightside{
  max-width: 40%;
}

.rightside p{
    color: #ffffff;
    font-size: 20px;
    padding: 3px;
}
.rightside button{
         background-color: rgb(199, 1, 94);
         color: white;
         width: 60%;
         margin-top: 30px;
         border-radius: 10px;
         text-align: center;
}
.rightside button:hover{
    transform: scale(1.08);
    transition: 0.5s;
}
.rightside i:hover{
          transform: scale(1.1);
          transition: 0.5s;
          border-radius: 20%;
}

 .LikeAlert{
    color: white;
    text-align: center;
    background-color: rgba(72, 180, 212, 0.852);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    bottom: 15px;
    border-radius: 10px;
    padding: 10px;
    width: 20%;
}

.dislike{
    display: none;
    animation:likepop 0.9s both
}
.like{
    display: none;
    animation:likepop 0.9s both
}

  #like.animated.active {
    -webkit-animation: pop 0.9s both;
    animation: pop 0.9s both;
    
  }

  .userAlert{
    -webkit-animation: pop 0.9s both;
    animation: pop 0.9s both;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  @keyframes pop {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
     
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
      
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
     
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
     
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
      
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
      
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
      
    }
  } 

  @keyframes likepop {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
      
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
     
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
      
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
      
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
     
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
      
    }
    
  } 






.second-right h1{
    text-align: center;
    font-size: 30px;
         
}
.lyric p{
    color: white;
    line-height: 30px;
    font-size: 16px;
    width: 100%;
    font-weight: 600;
}
.lyric p:hover{
    color: black;
}
.lyric{
    width:100%;
    height: 55%;
    overflow-y: scroll;
    padding: 30px;
    background-color:rgb(115, 0, 54);
    border-radius: 20px;
}
.second-right{
    width: 20%;
}
.similar{
  display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 20px;
    margin-right: 20px;
}
.similar img{
        width: 170px;    
        padding:3px;
        margin-left: 150px;        
}
.similar img:hover{
   transform: scale(1.05);
    border-radius: 10px;

}
@import url(//db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book);

 /* #play-button {
  background-color:#2d5;
  border-radius: 50%;
  position: relative;
  right: 200px;
  bottom: 130px;
  color: black; 
  font-size:20px;
  z-index:1
}    */

.imageContainer::after { 
  
position: absolute;
content: "\25B6";
display: none;
height: 70px;
width: 70px;
top: calc(27%);
left: calc(13.5%);

  text-align: center;/* center the content horizontally */
  padding-left: 5px;
  line-height: 70px; /* center the content vertically */
  font-size: 30px; /* increase the font size */
border-radius: 50%;
transition: all 0.3s;
  }  
  .imageContainer.paused::after {
    content: "\258C\258C"; /* pause button content */
    line-height: 70px; /* center the content vertically */
    font-size: 20px;
    
  }
  
  .imageContainer:hover::after {
  opacity: 1; 
  display: inline;
  background-color: #2d5;
  transform: scale (1.6);
  }

  
  
  
body {
    margin: 0;
    padding: 0;
    
    font-size: 14px;
  
}

.music-player {
  --primary-color: #ddd;
  --secondary-color: white;
  --green-color: #2d5;
  --padding: 1em;
  background-color: rgb(36, 36, 36);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 7rem;
  padding: var(--padding);
  color: var(--primary-color);
  margin-top: 10px;
  position: sticky;
  bottom: 0px;

}

i {
  color: var(--secondary-color);
}

i:hover {
  color: var(--primary-color);
}

.song-bar {
  position: absolute;
  left: var(--padding);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  width: 25%;
}

.song-infos {
  display: flex;
  align-items: center;
  gap: 1em;
}

.image-container {
  --size: 4.5em;
  flex-shrink: 0;
  width: var(--size);
  height: var(--size);
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.song-description p {
  margin: 0.2em;
}

.title1,
.artist {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.title1:hover,
.artist:hover {
  text-decoration: underline;
}

.artist {
  color: var(--secondary-color);
}

.icons {
  display: flex;
  gap: 1em;
}

.progress-controller {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  color: var(--secondary-color);
}

.control-buttons {
  display: flex;
  align-items: center;
  gap: 2em;
}

.play-pause {
  display: inline-block;
  padding: 1em;
  background-color: var(--primary-color);
  color: #111;
  border-radius: 50%;
}


.play-pause:hover {
  transform: scale(1.1);
  color: #111;
}

.progress-container {
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.progress-bar,.volume-bar-1{
  height: 4px;
  border-radius: 10px;
  width: 30%;
  background-color: #ccc4;
}

.progress {
  position: relative;
  height: 100%;
  width: 0%;
  border-radius: 10px;
  background-color: var(--secondary-color);
}

.progress-bar:hover .progress,.volume-bar-1:hover .volumeProgress{
  background-color: var(--green-color);
}

.progress-bar:hover .progress::after {
  content:"";
  position: absolute;
  --size: 1em;
  width: var(--size);
  height: var(--size);
  right: 0;
  border-radius: 50%;
  background-color: var(--primary-color);
  transform: translate(50%, calc(2px - 50%));
}

.volume-bar-1:hover .volumeProgress::after {
  content:"";
  position: absolute;
  --size: 1em;
  width: var(--size);
  height: var(--size);
  right: 0;
  border-radius: 50%;
  background-color: var(--primary-color);
  transform: translate(50%, calc(2px - 50%));
}

.other-features {
  position: absolute;
  right: var(--padding);
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.volume-bar {
  display: flex;
  align-items: center;
  gap: .7em;
}

.volumeProgress{
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-color: var(--secondary-color)
}





.volume-bar .volume-bar-1 {
  width: 6em;

}

.volume-bar .volume-bar-1:hover .volumeProgress::after {
  --size: .8em;
  background-color: var(--green-color)
}
@media (max-width:399px){
    .second-right{
        display: none;
    }
    .content{
        display: flex;
        flex-direction: column;
    }
    .dropdown{
     display: none;
    }
    .header p{
        display: none;

    }
    .profile{
        display: none;
    }
    .carticon{
        display: none;   
    }
    #book{
   display: none;        
    }
    .logo1{
        width: 300px;
        position: relative;
        margin-left: 50px;
    }
    .logo{
        width: 100px;
    }
  form{
    display: none;
  }
  #hide{
    display: none;
  }
  .other-features{
    display: none;
  }

  .icons{
    display: none;
  }
 .rightside h2{
    position: relative;
    left: 0px;
 }
 .rightside p{
    position: relative;
    left: 0px;
    text-align: left;
    display: flex;
    justify-content: center;
 }
 .card{
    margin-left: 0px;
 }
 .similar img{
    margin-left: 0px;
    width: 150px;
 }
 .similar{
   display: flex;
   overflow-x: scroll;
 }
 .rightside button{
    text-align: center;
    padding-left: 0px;
    position: relative;
    left:80px;
 }
 .image-container{
    display: none;
 }
 .music-player{
    justify-content: space-between;
 }
 .title1{
    width: 100%;
 }
 .progress-container{
    
 }

}



    
    



